@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Merriweather:ital,wght@0,700;0,900;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFEEEE;
    color: #7c746a;
}


#top{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.js-event{
    color: blue;
}
#title{
    font-size: 80px;
    text-align: center;
}

.paraghaph{
    font-size: 28px;
    margin-left: 17vw;
    padding-top: 5%;
}

#display-flex{
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}   

.container{
    text-align: center;
    width: 330px;
    height: 150px;
    border-radius: 5%;
    background-color: #FFF6EA;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
    .title-top{
 background-color: #EBD8C3;
    }

    .text-place{
        color: black;
        padding-top: 30px;
        font-size: 40px;
    }